**/__pycache__/
CHECKPOINT/
DATASET/
REFERENCE/
export model/
play_ground.ipynb
(Playground) File manager by Multi-thread processing.ipynb
(Playground) Pixiv classification illustration vs manga.ipynb
(Playground) GranCAM.ipynb
(Playground) Confusion matrix.ipynb
